.DS_Store
*/**/.sass-cache/*
Thumbs.db
*.class
*.log

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

#IDE specific
.idea/
identity.iml
project/plugins/
project/project.iml

