.DS_Store
*/**/.sass-cache/*
Thumbs.db
*.class
*.log

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/*/lib_managed/
project/*/src_managed/
project/*/target/
project/plugins/project

#IDE specific
.idea/
identity.iml
project/project.iml

